<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>Insira seu CPF:</ion-label>
          <ion-input></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>Insira sua senha:</ion-label>
          <ion-input type="password"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
        <ion-col>
          <ion-button size="small" color="warning" routerLink="/inicio" >Entrar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button size="small" color="danger">Esqueci a senha</ion-button>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid> 
  </div>
</ion-content>
