<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>Total a pagar R$ 18.000,00</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
        <ion-row>
        <ion-col>
          <ion-label>Para pagamento á vista: R$ 13.450,00*</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>*Somente hoje</ion-label>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button size="small" color="warning" routerLink="/pagamento">Pagar</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button size="small" color="medium" routerLink="/inicio">Voltar</ion-button>
        </ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
